[submodule "SpeedometerRmFlexbox"]
	path = SpeedometerRmFlexbox
	url = https://github.com/lpardosixtosMs/Speedometer
[submodule "Speedometer"]
	path = Speedometer
	url = https://github.com/lpardosixtosMs/Speedometer
